.post {
    padding: 1rem;
    border: 1px solid #ccc;
    position: relative;
    height: 70px;
}

.post h3 {
    margin-top: 0;
    margin-right: 20px;
    margin-bottom: 2rem;
    text-align: left;
    line-height: 50%;
}

.delete-btn {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 1rem;
    color: rgb(197, 16, 16);
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    width: fit-content;
    height: fit-content;
    padding: 0;
    border: none;
    background: none;
}

.delete-btn:hover {
    color: #fe5e5e;
}